body {
    margin: 0;
    background-color:rgb(53, 53, 63);
}

#background_triangle {
    position: absolute;
    width: 100%;
    height: 220%;
    z-index: -1;
}

#background_square {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
}

.task_bar_index{
    width: 4.5vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(45, 45, 53);
    left: -4.5vw;
    top: 0px;
    transition-duration: 0.35s;
}

.task_bar_about_us{
    width: 4.5vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(45, 45, 53);
    top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    text-align: center;
}

.pawprint_task {
    width: 4.5vw;
    height: auto;
}

.item {
    color: rgb(39, 135, 93);
    margin-bottom: 15vh;
    font-size: 3vh;
}

.item2 {
    color: rgb(83, 103, 255);
    margin-bottom: 15vh;
    font-size: 3vh;
}

.item3 {
    color: rgb(255, 174, 0);
    margin-bottom: 15vh;
    font-size: 3vh;
}

.task_animation {
    transform: translateX(4.5vw);
}

h1 {
    text-align: center;
    font-size: 10vh;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position:absolute;
    width: 100%;
    margin-top: 35vh;
}

#citat {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 50vh;
    font-size: 2vh
}

h2 {
    text-align: center;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3vh;
}

h3 {
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0% 15% 0% 15%;
    font-size: 2vh;
}

.rival_sans {
    font-family: rival-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

#rubrik {
    font-size: 6vh;
}

#background_img {
    width: 100%;
    margin-bottom: 150px;
}

#logo {
    position: absolute;
    filter: invert();
    height: 12vh;
    width: auto;
    margin-top: 35vh;
}

#scroll_button {
    position: absolute;
    height: 40px;
    width: 40px;
    border: solid white 4px;
    border-radius: 40px;
    margin-top: 90vh;
    cursor: pointer;
}
.feather {
    margin-top: 2px;
}

#icon {
    filter: invert();   
}

.button {
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(39, 135, 93);
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

.gridwrapper {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70vh 40vh 15vh;
    grid-gap: 300px;
    height: 100vh;
    grid-template-areas: "c1"  "c2" "c3";
}

.card {
    background-color:rgb(72, 72, 81);
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(30, 30, 30);
}

#card_1 {
    grid-area: c1; 
}

.gridwrapper2 {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "wlc img"  "bok img";
    height: 100%;
}

#slide_show {
    grid-area: img;
    height: 100%;
    width: auto;  
    background-size: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.card1_img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.myslides {
    display: none;
}

#welcome {
    grid-area: wlc;
    
}

#book_button {
    grid-area: bok;
    text-align: center;
    text-decoration: none;
    color: rgb(39, 135, 93);
    border: solid rgb(39, 135, 93) 6px;
    margin: 1.5vh 40% 11.5vh 40%;
    border-radius: 50px;
    font-family: rival-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vh;
    padding: 0.85vh;
}

#card_2 {
    grid-area: c2;
}

.gridwrapper3 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 70% 30;
    grid-template-areas: "res txt" "res men";
    height: 100%;
}

#restaurant {
    grid-area: txt;
    margin-right: 15px;
    margin-left: 15px;
}

#restaurant_img {
    grid-area: res;
    background-image:url(../img/syed-ahmad-kgjQ1AGDwE0-unsplash.jpg);
    background-size: 150%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#menu {
    grid-area: men;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(39, 135, 93);
    border: solid rgb(39, 135, 93) 6px;
    border-radius: 50px;
    font-family: rival-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vh;
    padding: 1vh;
    margin: 5vh 42% 0px 42%;
}

#card_3 {
    grid-area: c3;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(39, 135, 93);
    text-decoration: none;
    border-radius: 20px;
}

#a_us {
    margin-top: 1.67vh;
    text-decoration: none;
    font-size: 7vh;
    font-family: rival-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.about_us_card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 57% 8%;
    grid-template-areas: "aqu" "txt" "knt";
    height: 100%;
}

#about_us {
    grid-area: txt;
    margin-right: 15px;
    margin-left: 15px;
}

#aquarium_img {
    grid-area: aqu;
    background-image:url(../img/pengxiao-xu-vJZe1Z0fT1c-unsplash.jpg);
    background-size: 100%;
    border-radius: 20px 20px 0px 0px;
}

#kontakt {
    grid-area: knt;
    text-align: center;
    background-color: rgb(45, 45, 53);
    border-radius: 0 0 20px 20px;
    padding-top: 3vh;
    color: white;
}

#gridwrapper_about_us {
    margin-right: 30%;
    margin-left: 30%;
    padding-bottom: 200px;
    margin-top: 12%;
    display: grid;
    height: 135vh;
    position: absolute;
}

.gridwrapper_menu {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    display: grid;
    height: 110vh;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 35% 35%;
    grid-template-areas: "ha pa so" "hd to dr";
    column-gap: 15%;
    row-gap: 5%;
}

.menu_card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    height: 100%;
    grid-template-areas: "img" "txt";
}

.food_img {
    border-radius: 20px 20px 0 0;
}

#hamburgare {
    grid-area: ha;
}

#burger {
    grid-area: txt;
}

#burger_img {
    grid-area: img;
    background-image:url(../img/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-size: 100%;
}

#pannkaka {
    grid: pa;
}

#pancake {
    grid-area: txt;
}

#pancake_img {
    grid-area: img;
    background-image:url(../img/nikldn-qp7WA8AV2x0-unsplash.jpg) ;
    background-size: 100%;
}

#soppa {
    grid-area: so;
}

#soup {
    grid-area: txt;
}

#soup_img{
    grid-area: img;
    background-image:url(../img/emy-XoByiBymX20-unsplash.jpg) ;
    background-size: 100%;
}

#korv{
    grid-area: hd;
}

#hotdog {
    grid-area: txt;
}
#hotdog_img {
    grid-area: img;
    background-image:url(../img/andersen-jensen-QsCNmVrTa2c-unsplash.jpg);
    background-size: 100%;
}

#macka {
    grid-area: to;
}

#toast {
    grid-area: txt;
}

#toast_img {
    grid-area: img;
    background-image:url(../img/asnim-ansari-SqYmTDQYMjo-unsplash.jpg);
    background-size: 100%;
}

#dricka {
    grid-area: dr;
}

#drink {
    grid-area: txt;
}

#drink_img {
    grid-area: img;
    background-image:url(../img/johann-trasch-b-3uxA93zUc-unsplash.jpg);
    background-size: 100%;
}

#gradient {
    background-image: linear-gradient(to right, rgb(53, 53, 63), #13161c);
  }
  